body {
    margin: 0%;
    padding: 0%;
    background-image: url(images/background.jpg);
    background-size: cover;
}

.container {
    width: 450px;
    background: #233142;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 2.5%;
    border-radius: 5%;
    color: white;
    font-family: sans-serif;
}

.personal-photo {
    border-radius: 50%;
    width: 75%;
    height: 75%;
    max-width: 200px;
    max-height: 200px;
    transition: 0.8s;
    cursor: pointer;
}

.personal-photo:hover {
    transform: scale(0.95);
}

.container h1 {
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 100;
}

.container h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.container p {
    text-align: justify;
}

.container ul {
    margin: 0;
    padding: 0;
}

.container ul li {
    display: inline-block;
    margin: 5%;
    list-style: none;
}

.container ul li a {
    color: white;
    font-size: 250%;
    transition: all ease-in-out 250ms;
}

.container ul li a:hover {
    color: cornflowerblue;
}